<!DOCTYPE html>
<html>
<head>
    <title>Save Successful</title>
    <style>
        body {
            background-color: lightgrey;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: dodgerblue;
        }
        button {
            background: grey;
            height: 45px;
            width: 200px;
            color: white;
            font-style: oblique;
            margin-top: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>SAVE SUCCESSFUL</h1>
    <h2>Following Employee has been added to the database</h2>
    <h2>{{ name }}</h2>
    <form action="/" autocomplete="on" method="GET">
        <button type="submit">GO BACK</button>
    </form>
</body>
</html>
